<div class="col-md-12" ng-controller="WinnerCtrl">

  <div class="page-header text-center">
    <h1 class="gameTitle">Tic Tac Toe <span class="badge badge-info" translate>Results!</span></h1>
  </div>

  <div class="row well text-center" ng-if="winner">
		<h1><span translate>Congratulations to </span><img ng-src="{{winner.logo}}" alt="logo" /> !</h1>
		<h2><span translate>The team won the game with a score of </span><span class="label label-default">{{winner.score}}</span><span> to </span><span>{{looser.score}}</span>.</h2>
    <ul class="playersList list-unstyled">
      <li ng-repeat="player in winner.players | orderBy: 'name' ">{{player.name}}</li>
    </ul>
  </div>

  <div class="row well text-center" ng-if="winner == false">
    <h1 translate>It's a tie! No winner.</h1>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home" href="#"><i class="fa fa-home fa-fw"></i></a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <audio src="tictactoe/media/audio/applause.ogg" id="audio_winner"></audio>

</div>
